body {
    background-image: url("pictures/color_books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Calibri Light";
    color: black;
    margin-top: 0;
    margin-left: 0;
}

a {
    display: block;
    text-align: center;
    font-size: large;
}

.topnav {
    overflow: hidden;
    background-color: rgb(69, 118, 255);
    width: 67.5%;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(13, 5, 14, 0.6);
    color: #ffffff;
}

.topnav a.active {
    background-color: #ffdd0f;
    color: #000000;
}

p{
    color: black;
    font-family: "Calibri Light";
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
}